@import url('https://fonts.cdnfonts.com/css/heimdal');

body{
    font-family: Heimdal;
    font-weight: 900;
    margin: 0;
    text-align: center;
    background-color: #1a1a1d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vh 4vw;
}

#header{
    font-size: 50px;
    padding-bottom: 100px;
}

#main{
    
}

#resultOfRound{
    padding: 20px 0;
}

#endGameSection{
    display: none;
    margin-top: 100px;
}


#playAgainButton{
    text-decoration: none;
    border: none;
    margin-top: 50px;
    background-color: white;
    width: 110px;
    height: 35px;
    border-radius: 10px;
}
#playAgainButton:hover{
    box-shadow: 0 0 10px white;
}
